
@{
    ViewBag.Title = "POS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="~/Scripts/BootsAlert.js"></script>

<div class="row" style="margin-top:15px;">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <input type="text" id="txtBarcode" />

                    <table id="tblProducts" class="table table-striped table-bordered nowrap">
                        <thead style="color:ivory;" class="navbar-inverse">
                            <tr>
                                <td style="display:none;">Product ID</td>
                                <td>Product Name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Total</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

            </div>
            <div class="panel-footer text-right">
                Total: <input type="number" readonly="readonly" id="txtTotalAmount" />
            </div>
        </div>
    </div>
    <div class="col-lg-2 btn-grid">
        <button type="button" id="btnAddItem" class="btn btn-primary">Search</button>
        <button type="button" id="btnCheckout" class="btn btn-primary">Tender</button>
    </div>
</div>
@*Compute*@
<div class="modal fade" id="ComputePayment" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title for-add-category">
                    Compute Payment
                </h4>
            </div>
            <div class="modal-body">
                <div id="divAlert">
                </div>
                <div class="form-horizontal">
                    <div id="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3 for-add-both">
                                Payment:
                            </label>
                            <div class="col-sm-9">
                                <select id="txtPayment" class="form-control for-add-both" title="Please Select">
                                    <option value="1" selected>Cash</option>
                                    <option value="2">Credit Card</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group for-card" style="display:none;">
                            <label class="control-label col-sm-3 for-add-both">
                                Card No:
                            </label>
                            <div class="col-sm-9">
                                @*<input type="text" class="form-control" id="txtCardNumber">*@
                                <input type="tel" id="txtCardNumber" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                            </div>
                        </div>
                        <div class="form-group for-card" style="display:none;">
                            <label class="control-label col-sm-3 for-add-both">
                                Expiry Date:
                            </label>
                            <div class="col-sm-9">
                                @*<input type="text"  class="form-control required" id="txtExpiryDate">*@
                                <input type="tel" class="form-control" id="txtExpiryDate" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp"/>
                            </div>
                        </div>
                        <div class="form-group for-card" style="display:none;">
                            <label class="control-label col-sm-3 for-add-both">
                                CV Code:
                            </label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control" name="cardCVC" id="txtcardCVC" placeholder="CVC" autocomplete="cc-csc" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 for-add-both">
                                Amount Due:
                            </label>
                            <div class="col-sm-9">
                                <input type="text" readonly="readonly" class="form-control required" id="txtAmountDue">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 for-add-both">
                                Amount Paid:
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control required" id="txtAmountPaid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 for-add-both">
                                Change:
                            </label>
                            <div class="col-sm-9 for-add-both">
                                <input type="number" class="form-control required" readonly="readonly" id="txtChange">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer form-group">
                <button type="button" id="txtComputepayment" class="btn btn-primary for-add-product">
                    OK
                </button>
                <button type="button" class="btn btn-default close-button" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProductModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title for-add-product">
                    Product
                </h4>
            </div>
            <div class="modal-body">
                <div id="divAlert">
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group" style="display:none;">
                            <label class="control-label col-sm-2 col-lg-2">Product ID</label>

                            <div class="col-sm-10 col-lg-10">
                                <input type="text" id="txtProdID" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3">Product Name</label>

                            <div class="col-sm-8 col-lg-8">
                                <select id="txtProdName" class="SelProdList form-control for-add-both" data-live-search="true" title="Please Select">

                                </select>
                                @*<form class="eventInsForm" action="#" method="post">
                                    <input type="text" id="txtProdName" class="form-control addresspicker" />
                                </form>*@
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3">Quantity</label>

                            <div class="col-sm-8 col-lg-8">
                                <input type="number" id="txtQty" class="keyboard form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-lg-3">
                            </div>
                            <div class="col-sm-8 col-lg-8">
                                <button type="button" id="btnAddCart" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var cartTable;
    var Total = 0;
    var paymentTotal = 0;
    var prodPrice = 0, prodStock = 0, SumTotal = 0;

    $(document).ready(function () {
       GetProductList();

       $("#txtProdName").change(function () {
           var tem_price = $("#txtProdName option:selected").attr("price");
           prodPrice = parseFloat(tem_price).toFixed(2);
           //prodStock = res.Stock;

           $("#txtProdID").val($("#txtProdName option:selected").attr("prodid"));
           $("#txtPrice").val(prodPrice);
           //$("#txtStock").val(prodStock);
           $("#txtQty").val("1");
           $("#txtQty").focus().select();
       });


       $('#btnAddCart').click(function () {
           if ($("#txtQty").val() > 0) {
               $('#tblProducts tbody').append('<tr clone=true><td style="display:none">' + $("#txtProdName option:selected").attr("prodID") + '</td>' +
                   '<td>' + $('#txtProdName').val() + '</td>' +
                   '<td>' + $('#txtQty').val() + '</td>' +
                   '<td>' + prodPrice + '</td>' +
                   '<td>' + (parseFloat(Compute()).toFixed(2)) + '</td></tr>'
               );
               $("#txtTotalAmount").val(ComputeCheckOut());
               $("#txtQty").val("");
               //$("#dataPicker").val('default');
               //$("#txtProdName").selectpicker("render");
               //$("#txtProdName").focus();
           }
           else
               {alert("Invalid Input.")}
       });
        $('.modal#ProductModal').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('#btnAddCart').click();
                return false;
            }
        });  

        $('#btnCheckout').click(function () {
            $('#txtAmountDue').val($('#txtTotalAmount').val());

            $("#ComputePayment").modal({
                modal: true, backdrop: 'static', keyboard: false
            });
        });
        //modal Add Product Popup
        $("#btnAddItem").click(function () {
            
            $("#ProductModal").modal({
                modal: true, backdrop: 'static', keyboard: false
            });
            $("#txtProdName").selectpicker("refresh");
            //$("#txtProdName").focus();
        });

        $('#txtComputepayment').click(function () {
            $.ajax({
                type: "POST",
                url: "/POS/ProcessOrder",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: '{items: ' + JSON.stringify(getCheckOut()) + '}',
                //data: JSON.stringify(getCheckOut()),
                traditional: true,
                success: function (data) {
                    if (data.isError != "T") {
                        BootsAlert("success", "Success", data.message, "", "divAlert", "");

                        //$("#tblProducts").load("#tblProducts");


                    }
                    else {
                        BootsAlert("danger", "Error", data.message, "", "divAlert", "");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });

        $('#txtAmountPaid').keyup("change", function () {
            paymentTotal = $('#txtAmountPaid').val() - $('#txtAmountDue').val();

            $('#txtChange').val((parseFloat(paymentTotal).toFixed(2)));
        });

        $('#txtQty').keyboard({ type: 'numpad' });
        //$('#txtQty').keyboard({ layout: 'qwerty', usePreview: false });

        $("#txtPayment").on("change", function () {
            if ($(this).val() == "2") {
                $(".for-card").show();
            }
            else {
                $(".for-card").hide();
            }
        });
    });

    //$(function () {
    //    $("#txtProdName").autocomplete({

    //        source: function (request, response) {
    //            $.ajax({
    //                type: "GET",
    //                url: "/POS/GetProducts",
    //                data: { term: $("#txtProdName").val() },
    //                contentType: "application/json; charset=utf-8",
    //                dataType: "json",
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return {
    //                            id: item.ProductID,
    //                            value: item.ProdName,
    //                            price: item.Price
    //                        }
    //                    }))
    //                }
    //            });
    //        }, minLength: 0,
    //        select: function (event, ui) {
    //            $("#txtProdName").attr("prodid", ui.item.id);//Put Id in a hidden field
    //            prodPrice = parseFloat(ui.item.price).toFixed(2);
    //            $("#txtQty").val("1");
    //            $("#txtQty").focus();
    //            $("#txtQty").select();
    //        }
    //    }).focus(function () {
    //        $(this).autocomplete("search")
    //    });

    //    //$(".addresspicker").autocomplete("option", "appendTo", ".eventInsForm");
    //});

    function GetProductList() {
        //$("#txtProdName").removeClass("selectpicker");
        $.ajax({
            type: "GET",
            url: "/POS/GetProductList",
            success: function (res) {
                $(".SelProdList").append(res);
                //$("#txtProdName").addClass("selectpicker");
                //$('#txtProdName').selectpicker('refresh');
            }
        });
    }
    function Compute() {
        var calPrice = 0, calQty = 0;
        calPrice = prodPrice;
        calQty = $("#txtQty").val();
        return Total = calPrice * calQty
    }
    function ComputeCheckOut() {
        var ItemTotal = 0;

        $('#tblProducts >tbody tr[clone=true]').each(function () {
            ItemTotal = ItemTotal + parseFloat($(this).find("td").eq(4).html());
         });

        return parseFloat(ItemTotal).toFixed(2);
    }
    function getCheckOut() {
        var checkoutlist = [];
        var order = new Object();
        order.items = [];
        $('#tblProducts >tbody tr[clone=true]').each(function () {
            checkoutlist.push({ ProductID: $(this).find("td").eq(0).html(), prod_name: $(this).find("td").eq(1).html(), prod_qty: $(this).find("td").eq(2).html(), price: $(this).find("td").eq(3).html(), prod_total: $(this).find("td").eq(4).html() });
        });
        order.items = checkoutlist;
        order.paymentType = $("#txtPayment option:selected").attr("value");
        order.cardNo = $("#txtCardNumber").val();
        order.expiryDate = $("#txtExpiryDate").val();
        order.CVcode = $("#txtcardCVC").val();
        return order;
    }   

</script>
@*<style>

    .ui-menu .ui-menu-item a {
        font-size: 12px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1510 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    #modalIns {
        width: 500px;
    }

    .btn-grid {
        margin: -2px 0;
    }

        .btn-grid > .btn {
            margin: 2px 0;
        }
</style>*@
